*{
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  width: 95%;
  margin: 0 auto;
  top: 0;
}

div{
  unicode-bidi: isolate;
}

header{
  height: 50px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 1.5vh 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 0px;
}


.titles{
  flex-direction: column;
  
}

header a{
  text-decoration: none;
  color: grey;
}

.header a:hover{
  color: brown;
}

.sidebar-container{
  margin-top: 0px;

  width: 30%;
  border-right: 1px solid #000;
  bottom: 0;
  overflow: auto;
  position: fixed;
  top: calc(5vh + 51px);
}

.nav-container{
  display: flex;
  gap: 2vw;
  font-size: 1.2rem;
}

.nav-container a{
  padding-right: 2vw;
  font-size: 1.2rem;
}

.description{
  padding-top: 3vh;
  padding-bottom: 1vh;
  padding-right: 3vh;
  width: 95%;
  border-bottom: 1px solid black;

}


.contact a{
  text-decoration: none;
  color: grey;
  padding-right: 5px;
}

.contact a:hover{
  color: brown;
}

.bio{
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 1vh;

}

.student-desc{
  padding-bottom: 1vh;
}

.contact{
  padding-top: 2vh;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1vh;
}

.experience-header{
  display: flex;
  justify-content: space-between;
}



.sidebar-item{
  padding: 2vh 1vh 2vh 0;
  border-bottom: solid 1px grey;
  width: 95%
}
