/*General */
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  width: 95%;
  margin: 0 auto;
  top: 0;
}

img{
  overflow: clip;
  overflow-clip-margin: content-box;
}

div{
  unicode-bidi: isolate;
}

header{
  height: 50px;
  left: 0px;

  position: fixed;
  background: white;

  top: 0px;
  width: 100%;
  border-bottom: 1px solid black;
  padding-top: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0px;
}

/* Header styling */
.titles{
  flex-direction: column;
}

.name{
  padding-left: 2vh;
}



.pronouns{
  color: grey;
  font-weight: 400;
  font-size: 20px;
}

header a{
  text-decoration: none;
  color: grey;
}

.header a:hover{
  color: brown;
}

.sidebar-container{
  margin-top: 0px;
  width: 30%;
  border-right: 1px solid #000;
  bottom: 0;
  overflow: auto;
  position: fixed;
  top: calc(5vh + 51px);
}

.nav-container{
  display: flex;
  gap: 2vw;
  font-size: 1.2rem;
  list-style-type: none;
}

.nav-container a{
  padding-right: 2vw;
  font-size: 1.2rem;
}

.description{
  padding-top: 3vh;
  padding-bottom: 1vh;
  padding-right: 3vh;
  width: 95%;
  border-bottom: 1px solid black;
  
}

.contact a{
  text-decoration: none;
  color: grey;
  padding-right: 5px;
}

.contact a:hover{
  color: brown;
}

.bio{
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 1vh;

}

.student-desc{
  padding-bottom: 1vh;
}

.contact{
  padding-top: 2vh;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1vh;
}

.experience-header{
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  font-size: 20px;
}

.sidebar-item{
  padding: 2vh 1vh 2vh 0;
  border-bottom: solid 1px grey;
  width: 95%;
}


.intro-container{
  display: block;
  overflow: auto;
  margin-left: 32.57%;
  padding: 1vh;
  padding-top: 9vh;
}

.projects-header{
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1vh;
  border-bottom: 1px solid black;
  padding-top: 1vh;
}

.project-links{
  border-bottom: 1px solid black;
  border-collapse: collapse;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-bottom: 2vh;
  padding: 1vh 0;
}

.project-links p{
  padding-bottom: 2px;
  transition: all .25x ease;
}

.project-links a:hover, .selected-project{
  color: brown;
  font-weight: bold;
  cursor: pointer;
}

.project-images{
  max-height: 400px;
  object-fit: cover;
  padding-right: 1vh;
  width: 100%;
}

.project-heading{
  color: black;
  font-size: 2.3rem;
  font-weight: 700;
  padding-top: 3vh;
  text-transform: uppercase;
}

.project-content{
  display: none;
}

.project-content.active{
  display: block;
}

